http://localhost/sqlite/t2.php?sqlite=&username=&db=E:\git\python\flask_api\chinook.db

https://github.com/soiqualang/colab/blob/master/SQLite_3.ipynb

http://www.sqlitetutorial.net/sqlite-sample-database/

https://code.tutsplus.com/vi/tutorials/building-restful-apis-with-flask-diy--cms-26625

https://techtalk.vn/xay-dung-mot-restful-api-don-gian-voi-python-va-flask.html

In [2]:
import sqlite3

In [3]:
conn=sqlite3.connect('chinook.db')

In [4]:
#make funtion by soiqualang

def insert_table(table,field,value,conn):
    with conn:
        cur = conn.cursor()
        strfield=""
        strvalue=""
        for i in range(0,len(field)):
            strfield+=field[i]+", "
            strvalue+="'"+value[i]+"', "
        strfield+=field[i]
        strvalue+="'"+value[i]+"'"
        sql_add_news="INSERT INTO "+table+"("+strfield+") VALUES ("+strvalue+")"
        #print(sql_add_news)
        cur.execute(sql_add_news)

def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d
        
def getElement(tbl_table,element,where,id,conn):
    with conn:
        cur = conn.cursor()
        id=str(id)
        #sql='SELECT SQLITE_VERSION()'
        sql="Select "+element+" from "+tbl_table+" where "+where+"='"+id+"'"
        #print(sql)
        cur.execute(sql)
        data = cur.fetchone()
        #data=cur.fetchall()
        return data[element]

def table_to_array1(table,conn):
    with conn:
        conn.row_factory = dict_factory
        cur = conn.cursor()
        sql="SELECT * from "+table
        #print(sql)
        cur.execute(sql)
        rows = cur.fetchall()        
        '''
        for row in rows:
            print ("%s %s %s" % (row["id"], row["ques"], row["ans"]))
        '''
        return rows

In [5]:
rows=table_to_array1('employees',conn)
#print(rows)

for row in rows:
    print(row['LastName'],row['FirstName'],row['Title'])

Adams Andrew General Manager
Edwards Nancy Sales Manager
Peacock Jane Sales Support Agent
Park Margaret Sales Support Agent
Johnson Steve Sales Support Agent
Mitchell Michael IT Manager
King Robert IT Staff
Callahan Laura IT Staff